<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") %>

<body id="article">

    <%- include("partials/navbar") %>

    <main>
        <section class="hero">
            <h1><%= title %></h1>
            <p><%= details %></p>
        </section>
        
        <article>

            <section>

                <p>
                    <%= content %>
                </p>

            </section>

            <section>
                
                <p>More content here if needed. Add inputs to create the sections. For each new paragraph, add blank spaces in between
                    the paragraphs and concat as one string with the spaces.
                </p>

            </section>

        </article>

    </main>

    <%- include("partials/footer") %>
</body>
</html>