<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") %>

<body id="article">

    <%- include("partials/navbar") %>

    <main>
        <section class="hero">
            <h1><%= title %></h1>
            <p><%= details %></p>
        </section>
        
        <article>
            <% for (let i = 0; i < post.length; i++) { %>
            <section>
                <p><%- post[i].content %></p>
            </section>
            <%  }  %>
        </article>

    </main>

    <%- include("partials/footer") %>
</body>
</html>