<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") %>

<body id="error">

    <%- include("partials/navbar") %>

    <main>
        <section class="hero">
            <h1 class="warning">Uh oh!</h1>
            <p><%= message %></p>
            <% if (process.env.NODE_ENV !== "production") { %>
                <p><%= err.stack %></p>
            <% } %>
            <p>Click back arrow in browser or click Back to Home below.</p>
        </section>
        <section class="d-grid">
            <a href="/" class="article-link">
                <div class="article">
                    Back to Home
                </div>
            </a>
        </section>
    </main>

    <%- include("partials/footer") %>
</body>
</html>