<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") %>

<body id="home">

    <%- include("partials/navbar") %>

    <main>
        <section class="hero">
            <h1>Let's Talk Tech</h1>
            <p>Welcome to Let's Talk Tech!</p>
        </section>
        
        <section class="home-main">

            <% for (let i=0; i < posts.length; i++) { %>
            
                <a href="/articles/<%= posts[i].slug %>" class="article-link">
                    <div class="article">
                        <%= posts[i].title %>
                    </div>
                </a>
                <% } %>

        </section>

    </main>

    <%- include("partials/footer") %>
</body>
</html>