<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") %>

    <body id="user">

        <%- include("partials/navbar") %>

            <main>
                <%= success %>
                    <%= error %>
                        <section class="hero">
                            <h1>Welcome <%= name %>!</h1>
                            <p>This is your Dashboard</p>
                            <section>
                                <p><strong>Name: </strong>
                                    <%= name %>
                                </p>
                                <p><strong>Username: </strong>
                                    <%= username %>
                                </p>
                            </section>
                        </section>

                        <section class="d-grid">
                            <a href="/users/<%= userId %>/articles/new" class="article-link">
                                <div class="article">New Article</div>
                            </a>
                        </section>

            </main>

            <%- include("partials/footer") %>
    </body>

</html>