<!DOCTYPE html>
<html lang="en">

<%- include("../partials/header") %>

<body id="articles">

    <%- include("../partials/navbar") %>

    <main>
        <section class="hero">
            <h1>Articles</h1>
            <p>Explore the various articles I've written!</p>
        </section>

        <section class="d-grid">
        
            <% for (let i=0; i < posts.length; i++) { %>
        
                <a href="/articles/<%= posts[i].slug %>" class="article-link">
                    <div class="article">
                        <%= posts[i].title %>
                    </div>
                </a>
                <% } %>
        
        </section>

    </main>

    <%- include("../partials/footer") %>
</body>
</html>