<!DOCTYPE html>
<html lang="en">

<%- include("../partials/header") %>

<body id="article">

    <%- include("../partials/navbar") %>

    <main>
        <section class="hero">
            <h1><%= title %></h1>
            <h5><%= details %></h5>
        </section>
        
        <article>
            <% for (let i = 0; i < contentNum; i++) { %>
            <section class="article-section">
                <% if (imgs[i]) { %>
                    <img src="<%= imgs[i].url %>" alt="image">
                    <figcaption>Image taken by: <%= imgs[i].owner %> on <a href="https://www.unsplash.com">Unsplash</a></figcaption>
                <% }
                if (content[i]) { %>
                    <p><%- content[i] %></p>
                <% } %>
            </section>
            <%  }  %>
        </article>

        <p>Written by: <%= user_id.name %></p>

        <% if (loggedIn) { %>
            <section class="d-grid">
                <a href="/articles/<%= slug %>/edit" class="article-link">
                    <div class="article">Edit Article</div>
                </a>
            </section>
        <% } %>
    </main>
</body>
</html>