<!DOCTYPE html>
<html lang="en">

<%- include("../partials/header") %>

    <body id="edit-article">

        <%- include("../partials/navbar") %>

            <main>
                <form action="/articles/<%= slug %>?_method=PATCH" method="post">
                    <section>
                        <!--Title-->
                        <label for="">Title of Article</label>
                        <input type="text" name="title" class="inputs forms-text" value="<%= title %>" required>
                        <!--Description/Details-->
                        <label for="">Short description of Article</label>
                        <input type="text" name="details" class="inputs forms-text" value="<%= details %>" required>
                    </section>

                    <article>

                        <section class="article-section">
                            <h2>Main Content</h2>
                            <label class="d-block" for="">Add Image</label>
                            <input type="text" name="img0" class="img forms-text" placeholder="URL"
                            <% if (imgs[0]) { %>
                                value="<%= imgs[0].url %>"
                            <% } %>>
                            <input type="text" name="owner0" class="owner forms-text" placeholder="Owner of Image"
                            <% if (imgs[0]) { %>
                                value="<%= imgs[0].owner %>"
                            <% } %>>
                            <textarea id="content" class="paragraph inputs" name="content0" rows="12"
                                required><%- content[0] %></textarea>
                        </section>

                        <button id="add-paragraph" class="formBtn">Add Paragraph</button>

                        <% for (let i = 1; i < contentNum; i++) { %>
                        <section class="article-section">
                            <label class="d-block" for="">Add Image</label>
                            <input type="text" name="img<%= i %>" class="img forms-text" placeholder="URL"
                            <% if (imgs[i]) { %>
                                value="<%= imgs[i].url %>"
                            <% } %>>
                            <input type="text" name="owner<%= i %>" class="owner forms-text" placeholder="Owner of Image"
                            <% if (imgs[i]) { %>
                                value="<%= imgs[i].owner %>"
                            <% } %>>
                            <textarea class="paragraph inputs" name="content<%= i %>" rows="12"><% if (content[i]) { %><%- content[i] %><% } %></textarea>
                            <button class="del-paragraph deleteBtn formBtn">Delete Paragraph</button>
                            <button class="del-section deleteBtn formBtn">Delete Section</button>
                        </section>
                        <% } %>
                    </article>

                    <input id="submit" type="submit" class="updateBtn formBtn" value="Update Article">
                </form>

                <form action="/articles/<%= slug %>?_method=DELETE" method="post">
                    <input type="submit" class="deleteBtn formBtn" value="Delete Article">
                </form>
            </main>
        <script src="/js/new-article.js"></script>
    </body>

</html>