<!DOCTYPE html>
<html lang="en">

<%- include("../partials/header") %>

    <body id="edit-article">

        <%- include("../partials/navbar") %>

            <main>
                <form action="/articles/<%= slug %>?_method=PATCH" method="post">
                    <section>
                        <!--Title-->
                        <label for="">Title of Article</label>
                        <input type="text" name="title" class="inputs forms-text" value="<%= title %>" required>
                        <!--Description/Details-->
                        <label for="">Short description of Article</label>
                        <input type="text" name="details" class="inputs forms-text" value="<%= details %>" required>
                    </section>

                    <article>

                        <section>
                            <label for="">Main Content</label>
                            <textarea id="content" class="paragraph inputs" name="content0" cols="60" rows="10"
                                required><%- content[0] %></textarea>
                        </section>

                        <button id="add-paragraph">Add Paragraph</button>

                        <% for (let i = 1; i < content.length; i++) { %>
                        <section>
                            <textarea class="paragraph" name="content<%= i %>" cols="60" rows="10"><%- content[i] %></textarea>
                            <button class="del-paragraph">Delete Paragraph</button>
                            <button class="del-section">Delete Section</button>
                        </section>
                        <% } %>
                    </article>

                    <input id="submit" type="submit" value="Update Article">
                </form>

                <form action="/articles/<%= slug %>?_method=DELETE" method="post">
                    <input type="submit" value="Delete Article">
                </form>
            </main>

        <%- include("../partials/footer") %>
        <script src="/js/new-article.js"></script>
    </body>

</html>